%unselectable{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

%undraggable{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.game_area{
  @extend %unselectable;
  @extend %undraggable;
  height: 300px;
  position: relative;
  background-image: url("../../../img/back.png");
  padding: 10px;
  div, img, span{
    @extend %unselectable;
    @extend %undraggable;
  }
}

.wiseclocktext{
  position: absolute;
  top: 250px;
}

.heavy{
  fill: #edf2f7;
  color: #cbd5e0;
  font-size: 1em;
}

%baloon{
  height: 200px;
  position: absolute;
  //top: 30px;
}

.baloon_idle{
  /*@extend %baloon;*/
  animation: baloon-motion infinite 2s ease-in-out alternate-reverse;
  &:hover{
    opacity: .95;
  }
}

.baloon_boom{
  @extend %baloon;
  animation: baloon-boom linear .15s;
}

@keyframes baloon-boom {
  from{
    transform: scale(.2);
  }
  to{
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes baloon-motion {
  from{
    transform: scale(.95);
    margin-left: 10px;
  }
  to{
    transform: scale(.93);
    margin-left: 0px;
  }
  50%{
    transform: scale(.9);
  }
}

.score{
  font-size: 2em;
  color: #e2e8f0;
}

.score_addon {
  color: red;

  //animation: score-scale linear .2s;
}

@keyframes score-scale {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(2);
  }
}


