.game_area{
  height: 300px;
  position: relative;
  background-image: url("../../../img/back.png");
  padding: 10px;
}

%baloon{
  height: 200px;
  position: absolute;
  top: 30px;
}

.baloon_idle{
  @extend %baloon;
  animation: baloon-motion infinite 2s ease-in-out alternate-reverse;
  &:hover{
    opacity: .95;
  }
}

.baloon_boom{
  @extend %baloon;
  animation: baloon-boom linear .15s;
}


@keyframes baloon-boom {
  from{
    transform: scale(.2);
  }
  to{
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes baloon-motion {
  from{
    transform: scale(.95);
    margin-left: 10px;
  }
  to{
    transform: scale(.93);
    margin-left: 0px;
  }
  50%{
    transform: scale(.9);
  }
}

.score{
  font-size: 2em;
  color: #e2e8f0;
  //display: inline-block;
}

.score_addon {
  color: red;

  //animation: score-scale linear .2s;
}

@keyframes score-scale {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(2);
  }
}
